#root {
  margin-top: 0%;
  padding: 1px;
  background: #11220600;
}
.div0-background {
  margin: 0;
  background-color: rgba(rgba(6, 59, 6, 0.338);
}
.div1-central {
  background-color: rgba(255, 235, 205, 0.379);
  padding: 5px;
}
